# Copy/rename .env.example to .env and reaplace placeholders with your own password data
ADMIN_KEY=your_example_password
ADMIN_USERNAME=your_example_name
SECRET_SIGN_KEY=b7bf93b6f06845923bf0e2fd324f539dfbdc68c27ae27091 # random secret key, this is just an example made using os.urandom()